.container
  #local-video
  %form#name-form(action='/start' method='post')
    .input-group
      %input#vid-name(type='text' name='vid-name' placeholder='Vid Name' required=true)
      %button(type='submit') Go!

